<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="<%= url('main_page.css') %>"/>
  <script type="text/javascript" src="<%= url('main.js') %>"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <title>Sched - Schedule</title>
</head>
<body onload="filter(`<%= Date.today.day %>/<%= Date.today.month %>`);">
<div id="main_div">
  <div id="header">
    <a href="/main_page"><h3 class="header_text">Home</h3></a>
    <a href="/about"><h3 class="header_text">About Us</h3></a>
    <a href="/login"><h3 class="header_text" style="float: right;">Logout</h3></a>
    <a href="/friends"><h3 class="header_text">Friends</h3></a>
  </div>
  <div id="content">
<script>
  // Getting the Event Info data from database

  var usernames_from_events = <%= @usernames_from_events %>;
  var event_types_from_events = <%= @event_types_from_events %>;
  var event_locations_from_events = <%= @event_locations_from_events %>;
  var event_times_from_from_events = <%= @event_times_from_from_events %>;
  var event_times_to_from_events = <%= @event_times_to_from_events %>;
  var event_time_changes_from_events = <%= @event_time_changes_from_events %>;
  var event_date_from_events = <%= @event_date_from_events %>;
</script>

  <div id="sched_placeholder_div">

  <h1 style="text-align: center; padding-top: 10px;">Current week: <%= Time.now.strftime("%U").to_i %></h1>

  <table id="calendar_table">

    <tr class="table_row">
      <td class="table_data_day" style="background-color: red;"><b>
        <script> document.write(dateR(<%= (Date.today).wday %>)) </script>
      </b> <%= "#{Date.today.day}/#{Date.today.month}" %> </td>
      <td class="table_data_day">
        <script> document.write(dateR(<%= (Date.today + 1).wday %>)) </script> <%= "#{(Date.today + 1).day}/#{(Date.today + 1).month}" %>
      </td>
      <td class="table_data_day">
        <script> document.write(dateR(<%= (Date.today + 2).wday %>)) </script> <%= "#{(Date.today + 2).day}/#{(Date.today + 2).month}" %>
      </td>
      <td class="table_data_day">
        <script> document.write(dateR(<%= (Date.today + 3).wday %>)) </script> <%= "#{(Date.today + 3).day}/#{(Date.today + 3).month}" %>
      </td>
      <td class="table_data_day">
        <script> document.write(dateR(<%= (Date.today + 4).wday %>)) </script> <%= "#{(Date.today + 4).day}/#{(Date.today + 4).month}" %>
      </td>
      <td class="table_data_day">
        <script> document.write(dateR(<%= (Date.today + 5).wday %>)) </script> <%= "#{(Date.today + 5).day}/#{(Date.today + 5).month}" %>
      </td>
      <td class="table_data_day">
        <script> document.write(dateR(<%= (Date.today + 6).wday %>)) </script> <%= "#{(Date.today + 6).day}/#{(Date.today + 6).month}" %>
      </td>
    </tr>

    <img id="svg_arrow" src="../img/meow.svg"/>

    <script>
      // Moves the svg_arrow when clicking on the "days" on the schedule

      var date = "";

      function change(day) {
        document.getElementById("svg_arrow").style.marginLeft = `${day}px`;
      }

      // Uses the margin px of the svg_arrow to determine what day it is

        function px_to_day() {
          var px = $("#svg_arrow").css("margin-left");
          switch (px) {
            case "28px":
              return `<%= Date.today.day %>/<%= Date.today.month %>`;
            case "185px":
              return `<%= Date.today.day + 1%>/<%= Date.today.month %>`;
            case "339px":
              return `<%= Date.today.day + 2%>/<%= Date.today.month %>`;
            case "495px":
              return `<%= Date.today.day + 3%>/<%= Date.today.month %>`;
            case "650px":
              return `<%= Date.today.day + 4%>/<%= Date.today.month %>`;
            case "810px":
              return `<%= Date.today.day + 5%>/<%= Date.today.month %>`;
            case "962px":
              return `<%= Date.today.day + 6%>/<%= Date.today.month %>`;
          }
        }
    </script>

    <tr>
      <td class="table_data" onclick="change(28); date = px_to_day(); filter(date);"></td>
      <td class="table_data" onclick="change(185); date = px_to_day(); filter(date);"></td>
      <td class="table_data" onclick="change(339); date = px_to_day(); filter(date);"></td>
      <td class="table_data" onclick="change(495); date = px_to_day(); filter(date);"></td>
      <td class="table_data" onclick="change(650); date = px_to_day(); filter(date);"></td>
      <td class="table_data" onclick="change(810); date = px_to_day(); filter(date);"></td>
      <td class="table_data" onclick="change(962); date = px_to_day(); filter(date);"></td>
    </tr>
  </table>

    <div id="more_info_box">
      <div id="event_info" class="event_info">
        <h3>Events on selected day</h3>

        <table id="event_info_table">
          <tr>
            <td><b>|User|</b></td>
            <td><b>|Type|</b></td>
            <td><b>|Location|</b></td>
            <td style="width: 110px;"><b>|Starting Time|</b></td>
            <td style="width: 110px;"><b>|Ending Time|</b></td>
            <td style="width: 170px;"><b>|Time Change Possible?|</b></td>
          </tr>
        </table>
    </div>
      <div id="event_create" class="event_info">
        <h3>Event</h3>
        <form name="create_event" method="POST" action="/create_event">

          <script>
            // Displaying / hiding the "specify" fields when creating an event
            // if user has selected "Other" in the dropdown

            function specify_other(value, field) {
              if (value == "Other") {
                document.getElementById(field).style.display = "initial";
              }
              else {
                document.getElementById(field).style.display = "none";
              }
            }
          </script>

          <select name="event_type" onchange="specify_other(value, 'specify_other_event')">
            <option>Type</option>
            <option value="Bouldering">Bouldering</option>
            <option value="TopRope">TopRope</option>
            <option value="Lead">Lead</option>
            <option value="Top and Lead">Top and lead</option>
            <option value="Other">Other</option>
          </select>

          <input placeholder="Please specify" type="text" id="specify_other_event" name="specify_other_event" style="display: none;">

          <select name="event_time_from" onchange="specify_other()">
            <option>Starting time</option>
            <option value="09:00">09:00</option>
            <option value="09:30">09:30</option>
            <option value="10:00">10:00</option>
            <option value="10:30">10:30</option>
            <option value="11:00">11:00</option>
            <option value="11:30">11:30</option>
            <option value="12:00">12:00</option>
            <option value="12:30">12:30</option>
            <option value="13:00">13:00</option>
            <option value="13:30">13:30</option>
            <option value="14:00">14:00</option>
            <option value="14:30">14:30</option>
            <option value="15:00">15:00</option>
            <option value="15:30">15:30</option>
            <option value="16:00">16:00</option>
            <option value="16:30">16:30</option>
            <option value="17:00">17:00</option>
            <option value="17:30">17:30</option>
            <option value="18:00">18:00</option>
            <option value="18:30">18:30</option>
            <option value="19:00">19:00</option>
            <option value="19:30">19:30</option>
            <option value="20:00">20:00</option>
            <option value="20:30">20:30</option>
            <option value="21:00">21:00</option>
            <option value="21:30">21:30</option>
            <option value="22:00">22:00</option>
            <option value="N/A">N/A</option>
          </select>

          <select name="event_time_to">
            <option>Ending time</option>
            <option value="09:00">09:00</option>
            <option value="09:30">09:30</option>
            <option value="10:00">10:00</option>
            <option value="10:30">10:30</option>
            <option value="11:00">11:00</option>
            <option value="11:30">11:30</option>
            <option value="12:00">12:00</option>
            <option value="12:30">12:30</option>
            <option value="13:00">13:00</option>
            <option value="13:30">13:30</option>
            <option value="14:00">14:00</option>
            <option value="14:30">14:30</option>
            <option value="15:00">15:00</option>
            <option value="15:30">15:30</option>
            <option value="16:00">16:00</option>
            <option value="16:30">16:30</option>
            <option value="17:00">17:00</option>
            <option value="17:30">17:30</option>
            <option value="18:00">18:00</option>
            <option value="18:30">18:30</option>
            <option value="19:00">19:00</option>
            <option value="19:30">19:30</option>
            <option value="20:00">20:00</option>
            <option value="20:30">20:30</option>
            <option value="21:00">21:00</option>
            <option value="21:30">21:30</option>
            <option value="22:00">22:00</option>
            <option value="N/A">N/A</option>
          </select>

          <select name="event_location" onchange="specify_other(value, 'specify_other_location')">
            <option>Location</option>
            <option value="Telefonplan">Telefonplan</option>
            <option value="Solna">Solna</option>
            <option value="Uppsala">Uppsala</option>
            <option value="Other">Other</option>
          </select>

          <input placeholder="Please specify" type="text" id="specify_other_location" name="specify_other_location" style="display: none;">
          <input placeholder="Date" type="text" id="event_date" name="event_date">
          <p>Time change possible?</p>

          <input type="radio" name="event_time_change" value="Yes" style="width: 20px; position: absolute;"> <p style="margin-left: 25px;">Yes</p>
          <input type="radio" name="event_time_change" value="No" style="width: 20px; position: absolute;"> <p style="margin-left: 25px;">No</p>

          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>

</div>

  <footer id="footer">
    <p>Developed by: <a href="https://se.linkedin.com/in/sandro-caputo-093a92110">Sandro Caputo</a> and
      <a href="https://se.linkedin.com/in/felix-wetell-15a19b94">Felix Wetell</a></p>
    <p>@ 2016 Sched</p>
  </footer>

</div>

</body>
</html>