<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="<%= url('main_page.css') %>"/>
  <script type="text/javascript" src="<%= url('main.js') %>"></script>
  <title>Sched - Schedule</title>
</head>
<body>

<div id="main_div">

  <h1 style="text-align: center; padding-top: 10px;">Current week: <%= Time.now.strftime("%U").to_i %></h1>

  <table id="calendar_table">

    <tr class="table_row">
      <td class="table_data_day" style="background-color: red;"><b>
        <script> document.write(dateR(<%= (Date.today).wday %>)) </script>
      </b> <%= "#{Date.today.day}/#{Date.today.month}" %> </td>
      <td class="table_data_day">
        <script> document.write(dateR(<%= (Date.today + 1).wday %>)) </script> <%= "#{Date.today.day + 1}/#{Date.today.month}" %>
      </td>
      <td class="table_data_day">
        <script> document.write(dateR(<%= (Date.today + 2).wday %>)) </script> <%= "#{Date.today.day + 2}/#{Date.today.month}" %>
      </td>
      <td class="table_data_day">
        <script> document.write(dateR(<%= (Date.today + 3).wday %>)) </script> <%= "#{Date.today.day + 3}/#{Date.today.month}" %>
      </td>
      <td class="table_data_day">
        <script> document.write(dateR(<%= (Date.today + 4).wday %>)) </script> <%= "#{Date.today.day + 4}/#{Date.today.month}" %>
      </td>
      <td class="table_data_day">
        <script> document.write(dateR(<%= (Date.today + 5).wday %>)) </script> <%= "#{Date.today.day + 5}/#{Date.today.month}" %>
      </td>
      <td class="table_data_day">
        <script> document.write(dateR(<%= (Date.today + 6).wday %>)) </script> <%= "#{Date.today.day + 6}/#{Date.today.month}" %>
      </td>
    </tr>

    <script>
      function change(day){
        document.getElementById("svg_arrow").style.marginLeft=`${day}px`;
      }
    </script>

    <tr>
      <td class="table_data" onclick="change(78)"></td>
      <td class="table_data" onclick="change(234)"></td>
      <td class="table_data" onclick="change(390)"></td>
      <td class="table_data" onclick="change(548)"></td>
      <td class="table_data" onclick="change(700)"></td>
      <td class="table_data" onclick="change(856)"></td>
      <td class="table_data" onclick="change(1015)"></td>
    </tr>
  </table>

  <img id="svg_arrow" src="../img/meow.svg" style="width: 100px; height: 40px;"/>

  <div id="more_info_placeholder">

  <div id="more_info_box">
    <div class="event_info">
        <h3>Events on selected day</h3>

        <script>
            console.log(<%= @usernames_from_events %>);
            console.log(<%= @event_types_from_events %>);
            console.log(<%= @event_locations_from_events %>);
            console.log(<%= @event_times_from_from_events %>);
            console.log(<%= @event_times_to_from_events %>);
            console.log(<%= @event_time_changes_from_events %>);
            console.log(<%= @event_date_from_events %>)
        </script>








    </div>
    <div class="event_info">
      <h3>event</h3>
      <!--Create event: specify other & add location-->
      <form name="create_event" method="POST" action="/create_event">

        <script>
          function specify_other(value, field) {
            if (value == "Other") {
              document.getElementById(field).style.display = "initial";
            }
            else {
              document.getElementById(field).style.display = "none";
            }
          }
        </script>

        <select name="event_type" onchange="specify_other(value, 'specify_other_event')">
          <option value="Bouldering">Bouldering</option>
          <option value="TopRope">TopRope</option>
          <option value="Lead">Lead</option>
          <option value="Top and Lead">Top and lead</option>
          <option value="Other">Other</option>
        </select>

        <input placeholder="Please specify" type="text" id="specify_other_event" name="specify_other_event" style="display: none;">

        <select name="event_time_from" onchange="specify_other()">
          <option value="09:00">09:00</option>
          <option value="09:30">09:30</option>
          <option value="10:00">10:00</option>
          <option value="10:30">10:30</option>
          <option value="11:00">11:00</option>
          <option value="11:30">11:30</option>
          <option value="12:00">12:00</option>
          <option value="12:30">12:30</option>
          <option value="13:00">13:00</option>
          <option value="13:30">13:30</option>
          <option value="14:00">14:00</option>
          <option value="14:30">14:30</option>
          <option value="15:00">15:00</option>
          <option value="15:30">15:30</option>
          <option value="16:00">16:00</option>
          <option value="16:30">16:30</option>
          <option value="17:00">17:00</option>
          <option value="17:30">17:30</option>
          <option value="18:00">18:00</option>
          <option value="18:30">18:30</option>
          <option value="19:00">19:00</option>
          <option value="19:30">19:30</option>
          <option value="20:00">20:00</option>
          <option value="20:30">20:30</option>
          <option value="21:00">21:00</option>
          <option value="21:30">21:30</option>
          <option value="22:00">22:00</option>
          <option value="N/A">N/A</option>
        </select>

        <select name="event_time_to">
          <option value="09:00">09:00</option>
          <option value="09:30">09:30</option>
          <option value="10:00">10:00</option>
          <option value="10:30">10:30</option>
          <option value="11:00">11:00</option>
          <option value="11:30">11:30</option>
          <option value="12:00">12:00</option>
          <option value="12:30">12:30</option>
          <option value="13:00">13:00</option>
          <option value="13:30">13:30</option>
          <option value="14:00">14:00</option>
          <option value="14:30">14:30</option>
          <option value="15:00">15:00</option>
          <option value="15:30">15:30</option>
          <option value="16:00">16:00</option>
          <option value="16:30">16:30</option>
          <option value="17:00">17:00</option>
          <option value="17:30">17:30</option>
          <option value="18:00">18:00</option>
          <option value="18:30">18:30</option>
          <option value="19:00">19:00</option>
          <option value="19:30">19:30</option>
          <option value="20:00">20:00</option>
          <option value="20:30">20:30</option>
          <option value="21:00">21:00</option>
          <option value="21:30">21:30</option>
          <option value="22:00">22:00</option>
          <option value="N/A">N/A</option>
        </select>

        <select name="event_location" onchange="specify_other(value, 'specify_other_location')">
          <option value="Telefonplan">Telefonplan</option>
          <option value="Solna">Solna</option>
          <option value="Uppsala">Uppsala</option>
          <option value="Other">Other</option>
        </select>

        <input placeholder="Please specify" type="text" id="specify_other_location" name="specify_other_location" style="display: none;">
        <input placeholder="Date" type="text" id="event_date" name="event_date">
        <p>Time change possible?</p>

        <input type="radio" name="event_time_change" value="Start Earlier">Start Earlier
        <input type="radio" name="event_time_change" value="End Later">End Later
        <input type="radio" name="event_time_change" value="No">No

        <button type="submit">Submit</button>
      </form>
    </div>

  </div>
</div>
</div>

</body>
</html>